<html><head>
<title>table</title>
<body bgcolor="white">
<table align="center" border="1" bgcolor="Lavender"style="width:75%" cellpadding="15px">
<form name ="registration Form" action = "satnd.php" method="POST">
<caption><font color="Black"><h2><b><u>STUDENT'S ATTENDANCE</b></caption>
<tr><td><u>stud_id</td>
<td><u>Batch_no</td>
<td><u>Date</td>
 <td><u>Status</td></tr>
  <tr>
   <td><textarea rows="2" cols="20" name="11"></textarea></td>
   <td><textarea rows="2" cols="20" name="12"></textarea></td>
   <td><textarea rows="2" cols="20" name="13"></textarea></td>
   <td><textarea rows="2" cols="20" name="14"></textarea></td></tr>
    <tr>
   <td><textarea rows="2" cols="20" name="21"></textarea></td>
   <td><textarea rows="2" cols="20" name="22"></textarea></td>
   <td><textarea rows="2" cols="20" name="23"></textarea></td>
   <td><textarea rows="2" cols="20" name="24"></textarea></td></tr>
   <tr>
   <td><textarea rows="2" cols="20" name="31"></textarea></td>
   <td><textarea rows="2" cols="20" name="32"></textarea></td>
   <td><textarea rows="2" cols="20" name="33"></textarea></td>
   <td><textarea rows="2" cols="20" name="34"></textarea></td></tr>
   <tr>
   <td><textarea rows="2" cols="20" name="41"></textarea></td>
   <td><textarea rows="2" cols="20" name="42"></textarea></td>
   <td><textarea rows="2" cols="20" name="43"></textarea></td>
   <td><textarea rows="2" cols="20" name="44"></textarea></td></tr></table>
<table align="center" cellpadding="20px" cellspacing="15px">
<tr><td><input type="submit" name="submit" value="submit"></td></tr></table></form></head>
</body></html>

