<html>
<body align="center"><br><br><br><br>
<font size="+4">MANAGING STAFF LOGIN</font><br><br>
<form method="POST" action="password.php" name="form1">
<table align="center"><tr><td>
<form action="password.php" method="POST">
  Username: <input type="text" name="Username"><br>
  password: <input type="password" name="password"><br><br>
<button type="submit"> Submit</button>	
<button type="Reset">Reset</button><button type="Previous" ><a href="eg.html">previous</a></button></form></html></body>

